html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  overflow: hidden;
}

body {
  font-family: "Noto Sans KR", cursive;
  font-size: 4rem;
}

.brush {
  font-family: "Nanum Brush Script", serif;
}

#header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 150px;
  background: linear-gradient(#000, #071f4b 100%);
  color: #fff;
  position: absolute;
  top: 0;
  overflow: hidden;
}

#header .h1 {
  position: absolute;
  left: 5%;
  font-weight: bolder;
  letter-spacing: 5px;
}

#header nav {
  position: absolute;
  right: 5%;
  width: calc(100vw / 3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header nav .btn {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  transition: 0.5s all;
  font-size: 2rem;
  color: #fff;
  position: relative;
  text-decoration: none;
}

#header nav .btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: calc(50% - 7.5px);
  width: 15px;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(95, 145, 255), rgba(0, 0, 255, 0));
  border-radius: 100%;
  animation: rotate 3000ms linear infinite;
}
#header nav .btn::after {
  content: "";
  position: absolute;
  top: calc(50% - 7.5px);
  right: calc(50% - 1px);
  width: 2px;
  height: 15px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(95, 145, 255), rgba(0, 0, 255, 0));
  border-radius: 100%;
  animation: rotate 3000ms linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(45deg) rotate(0deg) scale(2);
  }
  100% {
    transform: rotateZ(45deg) rotate(360deg) scale(2);
  }
}

#header nav a:nth-of-type(n):hover > div {
  display: block;
}

#header nav a:nth-of-type(n) div {
  display: none;
  position: absolute;
  top: -75%;
  left: -35%;
}

#header nav a:nth-of-type(2):hover > div {
  left: -50%;
}

#wrapper {
  background-color: #071f4b;
  width: 100vw;
  height: calc(100vh - 300px);
  color: #fff;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
}

.box {
  width: 90%;
  height: 100%;
  margin: 5% auto;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  padding: 2%;
  box-sizing: border-box;
  font-size: 2rem;
}

#box1 {
  background-color: #071f4b;
}

#wrapper > .text {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.1;
  word-break: keep-all;
  text-align: center;
}

#wrapper > .text br {
  display: none;
}

#box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#box2 .profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 10%;
  word-break: keep-all;
}

#box2 .profile .url a img {
  width: 8vw;
  vertical-align: middle;
}

#box2 .question {
  flex-basis: 30%;
  margin-bottom: 15px;
}

#box2 .question strong {
  display: block;
  font-size: 3rem;
  margin-bottom: 15px;
}

#box2 .question .answer {
  line-height: 1.3;
}

#box3 .skill {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

#box3 .skill .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 20%;
}

#box3 .skill div {
  font-size: 1.5rem;
  word-break: keep-all;
}

#box3 .item img {
  width: 7vw;
  flex-basis: 10%;
  margin-right: 15px;
}

#box4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
}

#box4 .slideBtn {
  width: 10%;
  height: 90%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box4 .workWrapper {
  width: 80%;
  height: 90%;
  box-sizing: border-box;
  overflow: hidden;
}

#box4 .workWrapper .workBelt {
  height: 100%;
  display: flex;
  transition: 0.5s all;
  position: relative;
  left: 0;
}

#box4 .workWrapper .workBelt .work {
  width: 100%;
  height: 100%;
  padding: 1%;
  box-sizing: border-box;
  display: flex;
}

#box4 .workWrapper .workBelt .work .screenshot {
  flex-basis: 50%;
  margin-right: 20px;
}

#box4 .workWrapper .workBelt .work:nth-child(n) .screenshot {
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

#box4 .workWrapper .workBelt .work:nth-child(1) .screenshot {
  background-image: url(img/project1_m.PNG);
}

#box4 .workWrapper .workBelt .work:nth-child(2) .screenshot {
  background-image: url(img/project2_m.PNG);
}

#box4 .workWrapper .workBelt .work:nth-child(3) .screenshot {
  background-image: url(img/project3_m.PNG);
}

#box4 .workWrapper .workBelt .work:nth-child(4) .screenshot {
  background-image: url(img/project4_m.PNG);
}

#box4 .workWrapper .workBelt .work:nth-child(5) .screenshot {
  background-image: url(img/project5_m.PNG);
}

#box4 .workWrapper .workBelt .work:nth-child(6) .screenshot {
  background-image: url(img/project6_m.PNG);
}

#box4 .workWrapper .workBelt .work .contents {
  flex-basis: 50%;
  margin-left: 20px;
}

#box4 .workWrapper .workBelt .work .contents div {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

#box4 .workWrapper .workBelt .work .contents div a {
  color: blue;
  font-size: 1.6rem;
  text-decoration: none;
}

#footer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 150px;
  background: linear-gradient(#071f4b 0%, #000 35%);
  color: #fff;
  position: absolute;
  bottom: 0;
}

#footer a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#footer img {
  align-self: flex-start;
}

#footer .tree {
  position: absolute;
  left: 5%;
  max-width: 10vw;
  transform: translateY(-4vw);
  transition: 1s all;
}

#footer .man {
  position: absolute;
  right: 5%;
  max-width: 6vw;
  transform: translateY(-1vw);
  transition: 1s all;
}

@media screen and (max-width: 1280px) {
  #header nav a {
    width: 15px;
    height: 15px;
    border-radius: 15px;
  }

  .box {
    line-height: 1.2;
  }

  #box2 .profile {
    font-size: 1.4rem;
  }

  #box2 .question strong {
    font-size: 1.6rem;
    font-weight: bold;
  }

  #box2 .question .answer {
    font-size: 1.3rem;
  }

  #box3 .skill div {
    font-size: 1.3rem;
  }

  #box4 .workWrapper .workBelt .work .contents div {
    font-size: 1.6rem;
    line-height: 1.1;
  }

  #footer .tree {
    transform: translateY(-3vw);
  }

  #footer .man {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  #box4 .workWrapper .workBelt .work {
    flex-direction: column;
  }

  #box4 .workWrapper .workBelt .work .screenshot {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #box4 .workWrapper .workBelt .work .contents div {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  #box4 .workWrapper .workBelt .work .contents div a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  #header .h1 {
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    font-size: 3rem;
  }

  #header nav {
    top: 65%;
    width: calc(90%);
  }

  #wrapper > .text {
    font-size: 3rem;
  }

  #wrapper > .text br {
    display: block;
  }

  #box2 .profile {
    flex-direction: column;
    font-size: 1rem;
  }

  #box2 .profile .name {
    display: none;
  }

  #box2 .question strong {
    font-size: 1.1rem;
  }

  #box2 .question .answer {
    font-size: 1rem;
  }

  #box3 .skill .item {
    width: fit-content;
    height: 10%;
  }

  #box3 .skill .item div {
    font-size: 1rem;
    width: auto;
  }

  #box4 .workWrapper .workBelt .work .contents div {
    font-size: 1rem;
  }

  #box4 .workWrapper .workBelt .work .contents div a {
    font-size: 0.9rem;
  }

  #footer .tree {
    max-width: 15vw;
    transform: translateY(0vw);
  }

  #footer .man {
    max-width: 10vw;
    transform: translateY(6vw);
  }
}

@media screen and (max-width: 300px) {
  #footer .tree {
    transform: translateY(5vw);
  }

  #footer .man {
    transform: translateY(10vw);
  }
}
