html {
  scroll-behavior: smooth;

  overflow-y: hidden;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  font-family: "Nanum Brush Script", "Noto Sans KR", cursive;
  font-size: 4rem;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#header {
  width: 100vw;
  height: 200px;
  background: linear-gradient(#000, #071f4b);
  color: #fff;
  text-align: center;
  position: fixed;
}

#header .h1 {
  font-size: 3rem;
  font-weight: bolder;
  line-height: 200px;
  letter-spacing: 5px;
}

#header nav {
  position: absolute;
  top: 150px;
  right: calc(5vw);
  width: calc(100vw / 3);
  height: 0px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header nav .star {
  width: 75px;
  height: 75px;
  background: url(img/Star2.png) no-repeat;
  background-size: contain;
  position: absolute;
  left: -25px;
  z-index: -1;
  animation: star 3s linear infinite;
  filter: blur(5px);
  transition: 1.5s all;
}

@keyframes star {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header nav a {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  background: #fff;
  filter: blur(1px);
  transition: 0.5s all;
}

.box {
  background-color: #071f4b;
  width: 100vw;
  height: calc(100vh - 200px);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.contents {
  width: 90%;
  height: 90%;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px #000;
}

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding-top: 200px;
  background: linear-gradient(#071f4b 0%, #000 50%);
  color: #fff;
  position: relative;
}

#footer a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

#footer img {
  align-self: flex-start;
}

#footer .tree {
  max-width: 15vw;
  transform: translateY(-14vw);
}

#footer .man {
  max-width: 8vw;
  transform: translateY(-6vw);
}

@media screen and (max-width: 1280px) {
  #header nav a {
    width: 15px;
    height: 15px;
    border-radius: 15px;
  }
  #header nav .star {
    width: 50px;
    height: 50px;
    left: -17.5px;
  }

  #footer .man {
    max-width: 8vw;
    transform: translateY(-8vw);
  }
}
